/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}

nav li a:hover {
	color: #B1663C;
}

.login-nav a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.contact a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/**Login page**/

.login-style {
	font-weight: bold;
	color: black;
}

#login-link:hover {
	color: black;
  }

.login-form {
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	align-items: center;
	margin: 150px 0px 379px 0px;
	padding: 20px;
	border-radius: 4px;
	background-color: #fff;
  }
  
  .form-title {
	text-align: center;
	font-size: 30px;
	color: #1D6154;
	margin-bottom: 30px;
  }
  
  .form-group {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-bottom: 20px;
  }
  
  .form-label {
	text-align: left;
	color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
  }
  
  .form-input {
	width: 420px;
	height: 51px;
	padding: 0px 10px 0px 15px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
	border: none;
	outline: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 500;
  }
  
  .form-button {
	display: block;
	margin: 20px 0px 20px 0px;
	background-color: #1D6154;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 60px;
	font-family: 'Syne', sans-serif;
	font-size: 14px;
  }
  
  .form-link {
	color: #000;
	text-decoration: underline;
	margin-top: 10px;
	display: block;
	text-align: center;
  }
  
  .form-error {
	color: #ff0000;
	margin-top: 20px;
	text-align: center;
	display: block; /* Display error message by default */
  }
  
  #error-message {
	color: #ff0000;
	margin-top: 35px;
	display: none;
  }
  
  /**Admin style**/
  
  #top-bar {
	width: 100%;
	height: 59px;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
  }

  .edition-mode {
	color: white;
	font-size: 16px;
	font-weight: 400;
	font-family:  'Work Sans', sans-serif;
	margin-right: 30px;
  }

  #top-bar .edition-mode {
	display: flex;
	align-items: center;
  }
  
  #top-bar .edition-mode i {
	font-size: 16px;
	font-weight: 400;
	color: white;
	margin-right: 0.5em;
  }  

  #publish-button {
    width: 216px;
    height: 38px;
    font-family: 'Syne';
    font-weight: 700;
    color: black;
    background-color: white;
    margin: 2em auto;
    text-align: center;
    border-radius: 60px;
	border: none;
	}

  .logout {
	display: none;
	cursor: pointer;
  }

  .figure-display {
	display: flex;
	flex-direction: column;
  }

  .modal {
	text-decoration: none;
	display: flex;
  }

  .modification-display-image {
	display: flex;
	width: 80%;
	margin: auto;
	margin-top: 15px;
	display: none;
  }

  .modify {
	font-size: 16px;
	font-weight: 400;
	margin-left: 8px;
	color: black;
	text-decoration: none;
  }

  i.fa-solid.fa-pen-to-square {
	font-weight: 400;
	color: black;
  }
  
  .project-display .modification-display-image, .modification-display-project {
  display: flex;
  cursor: pointer;
}

.modification-display-image .modal-trigger, .project-display .modification-display-project .modal-trigger {
  display: flex;
}

.project-display .modification-display-image .modify, .modification-display-project .modify {
  font-size: 16px;
  font-weight: 400;
  margin-left: 8px;
  color: black;
  text-decoration: none;
}

  .project-display {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
  }

  .modification-display-project {
	display: flex;
	margin-left: 45px;
	margin-bottom: 29px;
	display: none;
  }
  
  /**Modale**/

  .modal-display {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3)
  }

  .modal-wrapper {
	background-color: white;
	width: 630px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	border-radius: 10px;
	padding: 26px;
  }

  .modal-name {
	display: flex;
	justify-content: center;
	font-family: 'Work Sans' ;
	font-weight: 400;
	font-size: 26px;
	line-height: 30.5px;
	color: black; 
  }

  .modal-close {
	position: relative;
	top: 5px;
	left: 557px;
	background: none;
  	border: none;
  }

  .modal-images {
	display: grid;
	justify-content: space-between;
	padding: 25px 64px 14px 64px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .work{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  }
  .edit-button{
	color: #000;
  }
  .modal-images > div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
  }
 
  .modal-images img {
	width: 80px;
	height: 105px;
	object-fit: cover;
	display: block;
	margin-bottom: 5px;
  }
  
  .modal-images .modal-image-wrapper {
	position: relative;
  }
  
  .modal-images .modal-image-wrapper .edit {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 0.75rem;
	padding: 2px 5px;
  }
  
  .modal-images .modal-image-wrapper .edit i {
	margin-right: 5px;
  }
  
  .image {
    position: relative;
}

.image i {
    position: absolute;
    top: 5px;
    right: 5px;
	color: white;
	background-color: black;
	border-radius: 2px;
	padding: 4px;
	height: 18px;
	width: 17px;
	font-size: 10px;
}

.first-icon {
	width: 18px;
	left: 37px;
}

.trash {
	cursor: pointer;
	position: absolute;
	color: white;
	background-color: #000;
	margin-left: 58px;
	height: 18px;
	width: 17px;
	padding: 2px;
	margin-top: 4px;
}

.modal-changes-container {
	margin: 0 auto;
	border-top: 1px solid #B3B3B3;
  	width: 450px;
	padding-bottom: 5px;
}

#add-photo {
	display: flex;
	justify-content: center;
	width: 237px;
	height: 36px;
	border: none;
	cursor: pointer;
}

.suppress {
	color: #ff0000;
	display: flex;
	justify-content: center;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}

/**Deuxième modale**/

#first-elements {
	display: flex;
	flex-direction: column;
}

#new-elements {
	display: none;
	flex-direction: column;
	
}

.cross-icon {
	cursor: pointer;
}

.close-icon {
	position: relative;
	left: 5px;
	background: none;
  	border: none;
	cursor: pointer;
	width: 14px;
}

.new-elements-display {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.validate {
	display: flex;
	margin: 0 auto;
	border-top: 1px solid #B3B3B3;
  	width: 420px;
	padding-bottom: 5px;
	margin-top: 47px;
}

#send-validation {
	display: flex;
	justify-content: center;
	width: 237px;
	height: 36px;
	background-color: #A7A7A7;
	border: none;
	cursor: pointer;
}


#avatar {
	width: 160px;
	display: none;
	position: absolute;
	height: 165px;
  }
  .photo-addition {
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;
	width: 420px;
    background-color: #E8F1F6;
    border-radius: 3px;
    margin: 30px 0px;
}

#photo-addition-button{
	display:none;
	
	
}
.photo-addition-icon{
	font-size: 58px;
	margin-top: 28px;
	background-color: #B9C5CC;
	color: #E8F1F6;
}
.form-group-addition{
	display: flex;
	flex-direction: column;
}
/**test02.04**/
.custom-file-upload{


display: flex;
justify-content: center;
align-items: center;
width: 160px;
height: 36px;
background-color: #CBD6DC;
color: #306685;
border-radius: 50px;
border: none;
font-family: 'Work Sans';
font-weight: 500;
font-size: 14px;
margin-top: 21px;
margin-bottom: 7px;
cursor: pointer;
}